* {
    box-sizing: border-box;
}

@font-face {
    font-family: boldFont;
    src:url(../fonts/norwester.otf);
}

@font-face {
    font-family: bodyFont;
    src:url(../fonts/GlacialIndifference-Regular.otf);

}

[id$="info"] {
    line-height: 1.3;
}

body {
    margin: 0px;
    font-family: bodyFont;
}

a {
    text-decoration: none;
    outline: none !important;
}

.brandColor, .details h4 {
    color: #e14631;
}

.brandTopSpacing {
    padding-top: 0px;
    margin-top: 2px;
}

.clearfix {
    clear: both;
}

#content {
    position: relative;
    width: 1000px;
    height: 100%;
    margin: auto;
}

#left-col {
    width: 22%;
    height: 1300px;
    background-color: #323232;
}

#img-cont {
    position: absolute;
    top:40px;
    left:40px;
}

#info-cont {
    top: 40px;
    right: 0px;
    width: 66.66%;
    height: 100%;
}

#name-container {
    width: 66.66% !important;
    font-family: boldFont;
    font-size: 3.6em !important;
    margin-top: 5px;
}

#name-container h1 {
    margin: 0px !important;
    padding: 0px !important;
}

#name-container + span {
    font-family: bodyFont;
    font-size: 1.1em;
    letter-spacing: 8px;
    padding: 0px;
    margin: 0px;
}

#profile-info, #projects-info {
    top: 300px;
    width: 100%;
}

#education-info {
    top: 430px;
    width: 90%;
}

#skills-info {
    top:530px;
    width: 100%;
    height: 200px;
}

.skills {
    width: 50%;
    float: left;
    margin-bottom: 2%;
}

#experience-info {
    top:730px;
    width: 100%;
}

#portfolio-info {
    top: 1060px;
    width: 100%;
}

.details {
    font-size: 1.1em !important;
}

.left {
    float: left;
    width: 30%;
}

.details ul li, .details p, .details h4, #projects-info h5 {
    padding-top: 0px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 2px;
}

#projects-info h5 {
    color: gray;
}

.menu-row {
    width: 0%;
    height: 37px;
    font-size: 1.1em;
    background-color: #e14631;
    font-family: boldFont;
    opacity: 0;
}

.menu-row h3 {
    height: 60%;
    color: white;
    text-align: right;
    padding-right: 10px;
    margin-top: auto;
    padding-top: 5px;   
}

#info-cont, .row1, .row2, .row3, .row4, .row5, #profile-info, #education-info, #skills-info, #experience-info, #portfolio-info, #projects-info {
    position: absolute;
}

.row1 {
    top:340px;
}

.row2 {
    top:470px;
}

.row3 {
    top:570px;
}

.row4 {
    top:770px;
}

.row5 {
    top:1100px;
}

.bord {
    border: 1px solid red;
}

.photo-cont {
    position: relative;
    height: 200px;
    margin-right: 5px;
    margin-bottom: 40px;
}

.photo-cont img {
    max-width: 200px;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(225,70,49,0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.photo-cont:hover .overlay {
    height: 100%;
}

.text {
    white-space: nowrap; 
    color: white;
    font-size: 1em;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.projects-pic img {
    box-shadow: 2px 2px 10px lightgray;
}

.projects-pic div {
    width:48%;
    margin-right:1%;
    margin-left:1%;
}

.projects-pic {
    margin-bottom: 290px;
}

#landing-page {
    max-width: 100%;
    height: auto;
    margin-top: 2%;

}

#back {
    padding-right:10px;
    font-size:1.2em;
    -webkit-transition: padding-right 0.4s ease; 
    transition: padding-right 0.4s ease;
}

.menu-row:hover #back {
    padding-right: 39px;

}

.center {
    margin-left: auto;
    margin-right: auto;
}

.modal {

}
@media only screen and (max-width: 667px) {
   .details {
    font-size: 1.1em !important;
}
    body { 
     -webkit-text-size-adjust: 100%; 
    }
    [id$="info"] {
    line-height: normal;
}
    iframe {
        max-width: 30%;
    }
}
